/**
 * Fonts to be downloaded.
 * Open Sans   http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300
 * FontAwesome https://github.com/FortAwesome/Font-Awesome/
 *             http://fortawesome.github.io/Font-Awesome/cheatsheet/
 * MonoSocial  https://github.com/drinchev/monosocialiconsfont
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/opensans.eot');
  src: url('fonts/opensans.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans.woff') format('woff'),
       url('fonts/opensans.ttf') format('truetype'),
       url('fonts/opensans.svg#OpenSansRegular') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/opensansb.eot');
  src: url('fonts/opensansb.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensansb.woff') format('woff'),
       url('fonts/opensansb.ttf') format('truetype'),
       url('fonts/opensansb.svg#OpenSansSemibold') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/opensansi.eot');
  src: url('fonts/opensansi.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensansi.woff') format('woff'),
       url('fonts/opensansi.ttf') format('truetype'),
       url('fonts/opensansi.svg#OpenSansItalic') format('svg');
}
@font-face {
  font-family: 'Awesome';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/awesome.eot?v=4.0.1');
  src: url('fonts/awesome.eot?#iefix&v=4.0.1') format('embedded-opentype'),
       url('fonts/awesome.woff?v=4.0.1') format('woff'),
       url('fonts/awesome.ttf?v=4.0.1') format('truetype'),
       url('fonts/awesome.svg?v=4.0.1#fontawesomeregular') format('svg');
}
@font-face {
  font-family: 'MonoSocial';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/monosocial.eot');
  src: url('fonts/monosocial.eot?#iefix') format('embedded-opentype'),
       url('fonts/monosocial.woff') format('woff'),
       url('fonts/monosocial.ttf') format('truetype'),
       url('fonts/monosocial.svg#MonoSocialIconsFont') format('svg');
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * General
 */
html {
  height: 100%;
  max-height: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  max-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: solid 1px #dedede;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

h1 {
  font-weight: 600;
  font-size: 2.4em;
  letter-spacing: -2px;
  line-height: 1em;
  white-space: nowrap;
}
h2 {
  color: #21759b;
  font-weight: 600;
  font-size: 1.6em;
  letter-spacing: -1.5px;
}
h3 {
  font-weight: 600;
  font-size: 1.15em;
  letter-spacing: -1px;
  color: #444;
}
h4 {
  color: #303538;
  font-weight: 600;
  letter-spacing: -.5px;
}
h5 {
  color: #ddd;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: -.5px;
  padding-bottom: .25em;
}
code {
  font-family: Inconsolata, Consolas, monospace;
  background-color: #eee;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 2px;
}
pre code {
  line-height: 1.35em;
  white-space: pre;
  word-wrap: break-word;
  display: block;
  padding: 0 1em;
  margin: 1em 0;
}
blockquote {
  font-style: italic;
  display: block;
  border-left: solid 1px #dedede;
  margin: 1em 3em;
  padding-left: 1em;
  line-height: 1.35em;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
a {
  outline-width: 1px;
}
iframe {
  display: block;
  width: 100%;
}
::selection {
  color: #3A4145;
  background: #b3d4fc;
}


/**
 * Header
 */
#headerContainer {
  background-color: #303538;
  color: #fff;
  text-align: center;
  text-align: center;
  padding: 45px 0px;
}
#header div {
  font-style: italic;
  font-size: 1em;
  font-weight: 600;
}
#header nav ul {
  margin-top: .6em;
  display: inline-block;
}
#header nav ul li {
  display: inline-block;
  margin: 0 5px;
}
#header a, #header a:visited, #header a:hover {
  color: inherit;
  text-decoration: none;
}

/**
 * Footer
 */
#footerContainer {
  background-color: #303538;
  color: #fff;
  font-size: .9em;
}
#footer a, #footer a:visited, #footer a:hover {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}
#footer nav ul {
  display: inline-block;
}
#footer nav ul li {
  float: left;
  display: inline-block;
  width: 115px;
}
#footer aside {
  margin-bottom: 1em;
}
#footer aside p {
  line-height: 1.25em;
  padding-bottom: .5em;
}
#footer img {
  float: left;
  border: solid 2px #fff;
  width: 75px;
  height: 75px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#copyright {
  font-size: .75em;
  color: #aaa;
}

/**
 * Messages
 */
#messageContainer {
  padding: 1em 5%;
  margin-bottom: 1em;
  line-height: 1.5em;
  font-size: .9em;
}

/**
 * Main
 */
article {
  color: #222;
  font-size: .9em;
  line-height: 1.5em;
}
article.recent {
  border-bottom: solid 1px #ccc;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
article.recent:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
article header {
  color: #757575;
  font-size: .85em;
  margin-bottom: .85em;
}
article header a, article header a:visited {
  text-decoration: none;
  color: inherit;
}
article footer {
  color: #757575;
  font-size: .85em;
  margin-top: .85em;
}
article footer a, article footer a:visited {
  text-decoration: none;
  color: inherit;
}
article footer a:hover {
  color: #57A3E8;
}
article ul.links li {
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
}
article ul.sharing:before {
  content: "Share via ";
  display: inline-block;
  vertical-align: .12em;
  line-height: 1.25em;
  padding-right: .25em;
}
article ul.sharing li {
  display: inline-block;
  padding-left: .35em;
  font-size: 1.25em;
}
article p {
  margin-bottom: .7em;
}
article p a, article p a:visited {
  color: #57A3E8;
  text-decoration: none;
}
article p a:hover {
  text-decoration: underline;
}
article section ul {
  list-style-type: disc;
  margin-left: 1.2em;
}
article section ol {
  list-style-type: decimal;
  margin-left: 1.2em;
}
article section dt {
  font-weight: 600;
}
article section dd {
  text-indent: 1em;
}
article section code, article section blockquote {
  font-size: .9em;
}
#comments {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

/**
 * Sidebar
 */
#sidebarContainer {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background-color: #efefef;
}
#sidebar li {
  margin: .25em 0;
}
#sidebar nav a, #sidebar nav a:visited {
  text-decoration: none;
  color: #4a4a4a;
}
#sidebar nav a:hover {
  color: #57A3E8;
}
#sidebar nav.recent ul li:list-child {
  margin-top: .75em;
}

#sidebar {
  font-size: .85em;
}
#sidebar aside {
  margin-bottom: 30px;
}
#searchText {
  width: 120px;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  font-size: .9em;
  -webkit-appearance: none;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
  font-size: 1em;
}
#searchButton {
  padding: 4px 10px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
  font-size: 1em;
  -webkit-appearance: none;
  border: solid 1px #ccc;
  background-color: #ddd;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
}
#searchButton:hover, #searchButton:focus {
  background-color: #ccc;
  border: solid 1px #bbb;
}
#searchButton:active {
  background-color: #bbb;
  border: solid 1px #aaa;
}
#sidebarVerticalAd {
  display: none;
}


/* Mobile Portrait Layout */
.contentContainer {
  padding: 1em 0;
}
.content {
  width: 90%;
  margin: 0 5%;
}
@media only screen and (max-width: 320px) {
  #disqus_thread {
    max-width: 300px;
  }
  #sidebar aside.ad {
    margin-left: -6%;
    max-width: 320px;
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) {
}

/* Tablet Portrait */
@media only screen and (min-width: 768px) {
  .mainContainer {
    float: left;
    width: 70%;
    padding: 0 1em;
  }
  #sidebarContainer {
    width: 24%;
    float: right;
    background-color: #fff;
    border: none;
  }
  #footerContainer {
    text-align: center;
  }
  #footer {
    width: 75%;
    margin: 0;
  }
  #footer aside {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0px 20px;
    padding-bottom: 20px;
    max-width: 50%;
  }
  #footer ins.adsbygoogle {
    margin-top: 20px;
  }
  article.first {
    border-bottom: solid 1px #ccc;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
  #sidebarHorizontalAd {
    display: none;
  }
  #sidebarVerticalAd {
    display: block;
  }
}

/* Tablet Landscape and beyond */
@media only screen and (min-width: 1260px) {
  .mainContainer {
    width: 940px;
    margin: 0 auto;
  }
  #sidebarContainer {
    width: 280px;
    margin: 0 auto;
  }
}

@media print {
  @page {
    margin: 0.5cm;
  }
  #sidebar {
    display: none;
  }
}

/**
 * Icons
 */
i.icon {
  font-family: Awesome;
  font-size: 1.05em;
}
i.icon-spacing {
  padding-right: .5em;
}
i.icon-go:before {
  content: "\f138";
}
i.icon-rss:before {
  content: "\f143";
  color: #f60;
  font-size: 1.25em;
}
i.icon-item:before {
  content: "\f138";
  color: #757575;
}
i.icon-archive:before {
  content: "\f00b";
  color: #757575;
}
i.icon-comments:before {
  content: "\f0e6";
}
i.icon-tweet:before {
  content: "\f081"
}
i.icon-like:before {
  content: "\f082"
}
i.icon-plus:before {
  content: "\f0d4"
}

a.symbol {
  display: inline-block;
  line-height: 2.25em;
  vertical-align: top;
}
a.symbol:before {
  font-family: MonoSocial;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-size: 2.25em;
  display: inline-block;
  padding-right: .1em;
  content: attr(data-symbol);
}
a.symbol:hover:before {
  content: attr(data-symbolalt);
}

/**
 * Utility
 */
.hidden {
  display: none;
}
.clearfix {
  clear: both;
}
div.callout {
  border-radius: 3px;
  display: block;
  padding: 1em;
  margin: 1em 0;
  line-height: 1.5em;
  font-size: .9em;
}
div.null {
  padding: .5em !important;
}
div.done {
  border: solid 1px #d6e9c6;
  color: #468847;
  background-color: #dff0d8;
}
div.info {
  border: solid 1px #bce8f1;
  color: #3a87ad;
  background-color: #d9edf7;
}
div.warn {
  border: solid 1px #fbeed5;
  color: #c09853;
  background-color: #fcf8e3;
}
div.fail {
  border: solid 1px #eed3d7;
  color: #b94a48;
  background-color: #f2dede;
}

/**
 * Syntax Highlighting
 */
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/**
 * Ads
 */
aside.ad {
  margin-top: 2em;
  overflow: clip;
}
